*, *::before, *::after{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    // font-size: 62.5%;
    background-color: rgb(32, 32, 32);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    .section{
        width: 80%;
        height: 100vh;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        color: white;

        .emph{
            font-weight: 800;
            margin: 1rem;
            font-size: 2.4rem;
        }

        .emph.a{
            animation: revolve ease 3s infinite;
        }
        .emph.b{
            animation: revolve ease 3s infinite 1.5s;
        }

        @keyframes revolve {
            0%{
                transform: rotateY(0) scale(1);
            }
            50%{
                transform: rotateY(180deg) scale(1.5);
            }
            100%{
                transform: rotateY(360deg) scale(1);
            }
        }
    }


    .intro{
        border-bottom: 0.1rem solid rgba(243, 243, 243, 0.342);
       
        .w{   animation: flicker ease 2s infinite 0s;  }
        .x{   animation: flicker ease 2s infinite 0.3s;  }
        .y{   animation: flicker ease 2s infinite 0.5s;  }
        .z{   animation: flicker ease 2s infinite 0.7s;  }

        @keyframes flicker {
            0%  {   opacity: 0.4;    }
            25% {   opacity: 0.7;    }
            50% {   opacity: 1.0;    }
            60% {   opacity: 0.3;    }
            70% {   opacity: 1.0;    } 
            75% {   opacity: 0.2;    } 
            90% {   opacity: 0.9;    } 
            100%{   opacity: 0.4;    }
        }

        div{
            font-size: 2.5rem;
            color: rgb(0, 105, 167);
            text-align: center;
            font-weight: 800;
            margin: 1rem;
            text-shadow: 0 0 2rem rgba(0, 106, 167, 0.808);
            padding: 0.5rem;
        }
    }

    .number-form{
        height: 50vh;
        border-top: 0.1rem solid rgba(243, 243, 243, 0.342);

        form{
            label{
                font-size: 2rem;
                font-weight: 900;
                color: white;
                margin: 0.5rem;
            }
            input{
                background-color: rgb(212, 212, 212);
                color: black;
                font-size: 1rem;
                border: none;
                width: 20rem;
                border-radius: 0.5rem;
                padding: 0.9rem;
                margin: 1rem;
            }
            .error{
                color: rgba(177, 0, 0, 0.918);
                font-size: 1rem;
                margin: 1rem;

            }
            #number-sub{
                border: 0.1rem solid black;
                background-color: rgb(0, 105, 167);
                color: white;
                font-size: 2rem;
                border-radius: 0.5rem;
                padding: 0.8rem;
                margin: 0.5rem;
                cursor: pointer;
            }

        }
    }

    .output-bar{
        height: 50vh;
        text-align: center;

        .outcov{
            width: 20rem;
            display: flex;
            margin: 0.4rem;

            .nums{
                visibility: hidden;
                opacity: 0;
                transition: all ease 0.5s;
                font-size: 2rem;
                color: white;
                width: 70%;
            }

            .symbols{
                color: white;
                font-size: 2rem;
                font-weight: 700;
                width: 30%;
            }

            .res{
                border-top: 0.1rem solid white;
                font-weight: 800;
                animation: blinkc ease 1s infinite 1s;
            }

            @keyframes blinkc {
                0%{color: white;}
                50%{color: white;}
                55%{color: rgb(0, 132, 255);}
                70%{color: rgb(255, 47, 47);}
                85%{color: rgb(109, 252, 109);}
                100%{color: white;}
            }

            .nums.appearing{
                visibility: visible;
                opacity: 1;
            }
        }
    }

    footer{
        padding-bottom: 5rem;
        padding-top: 0.5rem;
        text-align: center;
        color: rgb(194, 194, 194);
        font-size: 1rem;
        border-top: 0.1rem solid rgba(243, 243, 243, 0.342);

        div{
            margin: 0.5rem;
            padding: 0.5rem;
    
        }

        a{
            text-decoration: none;
            color: white;
            font-weight: 800;
        }
    }
}